.card-bg {
  width: min-content;
  background: linear-gradient(
    112.15deg,
    rgba(255, 255, 255, 0.3) 1.06%,
    rgba(255, 255, 255, 0.06) 100%
  );
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);

  border-radius: 35px;
  padding: 1rem;
}
