.bgObject {
  position: fixed;
  filter: blur(200px);
  z-index: -1000;
  overflow: hidden;
}

#purple {
  background: #c53dfa99;
  width: 50%;
  height: 33%;
  bottom: 5rem;
  left: 10rem;
}

#blue {
  background: #5c6ce7;
  top: 7.5rem;
  left: 3.5rem;
  width: 66%;
  height: 33%;
}

#cyan {
  background: #6cffe497;
  width: 30rem;
  height: 50%;
  right: 0;
}

#pink {
  background: #ff57a890;
  width: 30%;
  height: 50%;
  bottom: 2rem;
  right: 5rem;
}
